*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}

input {
    all: unset;
}
a {
    text-decoration: none;
    color: #4a4a4a;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;
    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    max-width: 1440px;
}
.header--logo {
    padding-left: 100px;
    padding-top: 23.05px;
}
.navigation--list {
    display: flex;
    list-style: none;
    padding-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    width: 1232px;
    color: #4a4a4a;
}
.navigation--click:hover {
    color: #333333;
}
.navigation--click:active {
    color: #e97522;
}
.header--center {
    display: flex;
    width: 581px;
    justify-content: space-between;
}
.right {
    display: flex;
    align-items: center;
}
.borderorange {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #e97522;
    border: 2px solid #e97522;
    box-sizing: border-box;
    border-radius: 10px;
    width: 196px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.borderorange:hover {
    background: #e97522;
    border-radius: 10px;
    color: #fff;
}
.borderorange:active {
    background: #e97522;
    border-radius: 10px;
    color: #fff;
    width: 173px;
    height: 28px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.mobile {
    margin-left: 24px;
}
.prof--studio {
    width: 100%;
    height: 860px;
    background: #444444;
}


/* PROFSTUDIO */
.prof--studio {
    padding-top: 149px;
    padding-left: 100px;
    width: 100%;
    height: 860px;
    min-width: 1440px;
    max-width: 1440px;
}
.prof--studio__title {
    width: 791px;
    height: 156px;
    font-weight: 700, bold;
    font-size: 66px;
    line-height: 78px;
    letter-spacing: 3.2px;
    color: #f5f5f5;
}
.prof--studio__dreams {
    width: 733px;
    height: 86px;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    margin-top: 52px;
    color: #f5f5f5;
}
.prof--studio__text {
    width: 791px;
    height: 156px;
    font-weight: 500, medium;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    color: #f5f5f5;
}

.prof--studio__consultation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 64px;
    background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
    border-radius: 10px;
    margin-top: 32px;
}
.consultation--input {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
}
.prof--studio__consultation:hover {
    background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
}
.prof--studio__consultation:active {
    width: 319px;
    height: 56px;
    background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
.pop__up--button a {
    color: #fff;
}
/*  POP UP */
.prof--studio__popup{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color:transparent;
    z-index: 5;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.prof--studio__popup.active{
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, .8);
}
.prof--studio__popup-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.prof--studio-popupbody{
    margin: auto;
    width: 1033px;
    height: 597px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    position: relative;
}
.prof--studio-columnone{
    padding-top: 90.16px;
    padding-left: 34.01px;
    position: absolute;
}
.prof--studio-columntwo{
position: absolute;   
}
.prof--studio-column__title{
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #4A4A4A;   
margin-top: 60px; 
margin-left: 529.5px;
margin-bottom: 32px;
margin-right: 55.5px;
}
.prof--studio-column__info{
margin-left: 543px;
margin-right: 69.5px;
}
.prof--studio-column__info p{   
text-align: left;
font-weight: 500;
font-size: 16px;
line-height: 12px;
color: #121621;
opacity: 0.4;
margin-bottom: 8px ;
}
.prof--studio-column__info p:nth-child(5){
margin-bottom: 0px;
padding-bottom: 8px;
}
.prof--studio-column__input{
background: #FFFFFF;
width: 420px;
height: 48px;
border: 1px solid #DDDEE4;
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 36px;
text-align: left;
padding-left: 16px;  
}
.input__text{
font-weight: 500;
font-size: 12px;
line-height: 12px;
color: #B1B1B1;
opacity: 0.4;
cursor: pointer;
}
.prof--studio-column__button{
background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
border-radius: 10px;   
width: 420px;
height: 48px; 
margin-left: 543.5px;
margin-right: 69.5px;
cursor: pointer;
}
.prof--studio-column__button-text{
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;    
}
.prof--studio-column__button:hover{
background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);    
}
.prof--studio-column__politic{
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: center;
color: #585858; 
margin-left: 514px; 
margin-top: 16px;
margin-right: 40px;
}
.prof--studio-column__politic span{
    text-decoration: underline;
}
.prof--studio__pop--upclose{
position: absolute;
margin-left: 1000px;
margin-top: 15px;
cursor: pointer;
}
/* OUR WORK */
.ourwork--container {
width: 100%;
height: 973px;
background: #ffffff;
position: relative;
}
.ourwork {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    padding-top: 120px;

    text-align: center;
    color: #333333;

    width: 1440px;
}
.ourwork--picleft {
    position: absolute;
    width: 488.75px;
    height: 544px;
    left: -15.5px;
    top: 280.46px;
}
.ourwork--piccenter {
    position: absolute;
    width: 555.71px;
    height: 618px;
    left: 441.64px;
    top: 243px;
    z-index: 2;
}
.ourwork--picright {
    position: absolute;
    width: 488.75px;
    height: 544px;
    left: 965.75px;
    top: 280.46px;
}
.leftarrow {
    position: absolute;
    width: 73px;
    height: 73px;
    left: 1057px;
    top: 515px;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}
.rightarrow {
    position: absolute;
    width: 73px;
    height: 73px;
    left: 330px;
    top: 524px;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}
/* OUR LOCATION */
.ourlocation {
    width: 1440px;
    height: 720px;
    background: #ffffff;
}
.ourlocation--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #333333;
    margin-top: 60px;
    text-align: center;

    width: 100%;
    height: 43px;
}

.ourlocation--piccontainer {
    width: 1440px;
    height: 362px;
    margin: 0 auto;
}
.ourlocation--line {
    background-image: url(../img/Line\ 7.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    padding-top: 140px;
    margin-top: -60px;
}

.ourlocation--pictures {
    border-radius: 15px;
}
.ourlocation--pictures + .ourlocation--pictures {
    margin-left: 27.22px;
}
.ourlocation--arrowcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -440px;
}
.location__button {
    width: 336px;
    height: 48px;
    margin-top: 200px;
    margin-left: 552px;
    margin-bottom: 80px;
}
/* decor--photo */
.decor--photo {
    width: 100%;
    height: 908px;
}
.decor--title {
    font-weight: 600;
    text-align: center;
    color: #333333;
    font-size: 36px;
    line-height: 120%;
    padding-top: 60px;
}
.decor--video {
    padding-top: 80px;
}
/* typesofservices */
.typesofservices {
    width: 100%;
    height: 2074px;
}
.typeservies--title {
    padding-top: 60px;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;

    color: #333333;
}
.typeservies--collection {
    padding: 80px 100px;
    display: flex;
}
.typeservies--group__one{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.typeservies--group__two{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.right__picture{
    margin-left: -425px;
}
.down__picture{
    margin-top: 362px;
    margin-left: -425px;
}

.typeservies--collection__photo {
    padding-left: 33px;
    padding-top: 34px;
}

/* stagework */

.stagework{
    width: 100%;
    height: 1212px;
    position: relative;
}
.stagework--title{
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    padding-top: 78px;
    color: #333333;
}
.stagework--line{
 position: absolute;
left: 250.04px;
top: 360.36px;
}
.stagework--border{
position: absolute;
background: #FFFFFF;
border: 2px solid #E97522;
box-sizing: border-box;
box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
border-radius: 12px;
width: 348px;
height: 190px;
z-index: 4;
top: 298px;
left: 112px;
}
.stagework--border__two{
top: 355px;
left: 717px;
}
.stagework--border__three{
    left: 984px; 
    top: 657px;
}
.stagework--border__four{
    left: 274px;
    top: 652px;
}
.stagework--border__five{
    left: 638px;
    top: 934px;
}
.stagework--header__three{
    font-weight: 600;
font-size: 18px;
line-height: 120%;
color: #333333;
width: 293px;
height: 44px;
margin-bottom: 40px;
}
.stagework--header{
    font-weight: 600;
font-size: 18px;
line-height: 120%;
color: #333333;
padding-top: 39px;
padding-left: 40px;
}
.stagework--text{
    font-weight: 500;
font-size: 16px;
line-height: 140%;
align-items: center;
color: #4A4A4A;
padding-top: 12px;
padding-left: 40px;
}
.stagework--number{
position: absolute;
width: 50px;
height: 50px;
left: -16px;
top: 156px;
}

/* functionstudio */

.functionstudio{
width: 1440px;
height: 461px;
background: #F2F4F4;
}
.functionstudio--container{
    width: 1238px;
    height: 260px;
}
.functionstudio--title{
font-weight: 600;
font-size: 36px;
line-height: 120%;
padding-top: 60px;
padding-left: 265px;
color: #333333;
text-align: center;

}
.functionstudio--text{
    font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #4A4A4A;
padding-left: 100px;
padding-top: 32px;
}
.functionstudio--question{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4A4A4A;
    padding-left: 100px;
    padding-top: 30px;
}
.functionstudio--button{
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #E97522;
padding-top: 2px;
padding-left: 1205px;
display: flex;
align-items: center;
}
.functionstudio--arrowdown{
    padding-left: 16px;
cursor: pointer;
}

/* pricephoto */
.pricephoto{
    width: 100%;
    height: 1108px;
    position: relative;
}
.pricephoto--line{
position: absolute;
top: 85px;
}
.pricephoto--title{
font-weight: 700;
font-size: 36px;
line-height: 120%;
color: #333333;
padding-top: 118px;
padding-left: 518px;
}
.pricephoto--container{
display: flex;
}
.pricephoto--bg{
background: #F2F4F4;
border-radius: 16px;
width: 398px;
height: 654px;
margin-left:100px;
position: absolute;
top: 175px;
}
.pricephoto--bg__standart{
background: #F9F4EE;
border-radius: 16px;
width: 398px;
height: 654px;
margin-left:521px;
position: absolute;
top: 175px;
}
.pricephoto--header{
font-weight: 600;
font-size: 18px;
line-height: 120%;
color: #4A4A4A;
padding-top: 48px;
padding-left: 45.5px;
}
.pricephoto--price{
font-weight: 700;
font-size: 56px;
line-height: 120%;
color: #333333;
padding-top: 16px;
padding-left: 45.5px;
}
.pricephoto--location{
font-weight: 600;
font-size: 14px;
line-height: 140%;
color: #838383;
padding-left: 45.5px;
padding-top: 4px;
padding-bottom:41.5px ;
}
.pricephoto--list__item{
display: flex;
align-items: center;
padding-bottom: 19px;
}
.pricephoto--list__item:nth-child(8){
    padding: 0px;
}
.pricephoto--check{
padding-left: 45.5px;
text-align: center;
}
.pricephoto--item{
padding-left: 8px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: #333333;
}
.pricephoto--services{
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #333333;
padding-left: 94px;
padding-top: 33.5px;
padding-bottom: 12px;
}
.pricephoto--services__container{
display: flex;
}
.pricephoto--services__border{
background: #FFFFFF;
border: 1px solid #C2C2C2;
box-sizing: border-box;
border-radius: 5px;
width: 108px;
height: 40px;
}
.services--border__one{
    margin-left: 15px;
}
.services--border__second{
width: 82px;
height: 40px;
margin: 0 5px;
}
.services--border__last{ 
width: 172px;
height: 40px;
}
.pricephoto--services__text{
font-weight: 500;
font-size: 12px;
line-height: 120%;
text-align: center;
color: #333333;
padding: 5px 6px;
}
.pricephoto--services__border:hover{
background: #F7F5F5;
border: 1px solid #C2C2C2;
}
.pricephoto--services__button{
width: 370px;
height: 48px;
background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
border-radius: 10px;
margin-top: 52px;
margin-left: 15px;
}
.pricephoto--services__input{
font-weight: 600 bold;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
}
.pricephoto--services__input:hover{
    background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
}
.pricephoto--bg__maxi{
    background: #F5D9C6;
    border-radius: 16px;
    margin-left:941px;
    position: absolute;
    top: 150px;
    width: 398px;
    height: 706px;
    }
    .pricephoto--list__maxi{
        margin-bottom: 17.5px;
    }
    .pricephoto--services__maxi{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    margin-top: 12px;
    margin-left: 114px;
    }
    .pricephoto--services__maxititle{
    margin-top: 28px;
    margin-left: 93px;
    }
    .pricephoto--item__maxi{
    width: 280px;
    height: 44px;
    }
    .pricephoto--services__size{
    width: 370px;
    height: 48px;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 14px;
    }

    /* phototrend */

.phototrend{
    width: 100%;
    height: 461px;
    background: #F9F4EE;
}
.phototrend--title{
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #333333;
padding-top: 60px;
padding-left: 148px;
}
.phototrend--text{
padding-top: 32px;
padding-left: 100px;
width: 1240px;
}
.phototrend--question{
padding-top: 50px;
padding-left: 100px;
width: 1240px;
}
.phototrend--button{
    margin-top: -25px;
}

/* giftcerteficate */
.giftcerteficate{
    width: 1440px;
    height: 920px;
}
.giftcerteficate--title{
padding-top: 82px;
padding-left: 325px;
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #333333;
}
.giftcerteficate--container{
background: #F2F4F4;
border-radius: 25px; 
width: 1240px;
height: 623px;   
margin-top: 80px;
margin-left: 100px;
position: relative;
}
.giftcerteficate--line{
    padding-top: 200px;
    padding-left: 552px;
    position: absolute;
}
.giftcerteficate--certificate{
font-weight: 500;
font-size: 14px;
line-height: 120%;
letter-spacing: 1px;
color: #C1C1C1;
padding-top: 112px;
padding-left: 120px;
}
.giftcerteficate--header{
font-weight: 600;
font-size: 48px;
line-height: 140%;
letter-spacing: 1px;
color: #4A4A4A;   
width: 567px;
height: 201px; 
padding-left: 120px;
padding-top: 8px;
margin-bottom: 53px;
}
.giftcerteficate--list__item {
display: flex;
align-items: center;
}
.giftcerteficate--list__item:nth-child(4),:nth-child(5){
padding-bottom: 26px;
}
.giftcerteficate--check{
padding-left: 120px;
}
.giftcerteficate--item{
padding-left: 16px; 
}
.giftcerteficate--cover{
position: absolute;
padding-left: 661px;   
}
.giftcerteficate--text{
margin-top: 476px;
margin-left: 680px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #333333;
position: absolute;
width: 380px;
}
.giftcerteficate--button{
position: absolute;
margin-top: 537px;
margin-left: 699px; 
background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
border-radius: 10px;
width: 342px;
height: 48px;
}
.giftcerteficate--input{
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;    
}
.giftcerteficate--button:hover{
background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);    
}

/* recall */

.recall{
width: 100%;
height: 869px; 
background: #FFFFFF;   
}
.recall--title{
padding-top: 60px;
padding-left: 645px;
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #333333;
}
.recall--arrow__container{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 385px;
}
.recall--info{
    position: absolute;
}
.recall--name{
font-weight: 600;
font-size: 24px;
line-height: 24px;
color: #4A4A4A;
padding-left: 70px;
margin-top: 301px; 
position: absolute;
}
.recall--text{
font-weight: 500;
font-size: 16px;
line-height: 26px;
width: 340px;
height: 130px;
text-align: center;
color: #333333; 
margin-top: 340px;   
position: absolute;
}